
@{
    ViewBag.Title = "Ajout";
}

<h2>Ajout</h2>

@Html.Label("Code");
@Html.TextBox("code");

@Html.Label("Libelle");
@Html.TextBox("libelle");

@Html.Label("Description");
@Html.TextBox("description");

@Html.Label("Stock");
@Html.TextBox("stock");

@Html.Label("Prix");
@Html.TextBox("prix");