@using Metier.Entities
@model List<Categorie>
@{
    ViewBag.Title = "Index";
}

<h2>Liste des catégories</h2>

<table class="table table-striped table-responsive">
    <tr>
        <th>Libelle</th>
        <th>Active</th>
        <th>Action(s)</th>
    </tr>
    @foreach (Categorie categorie in Model)
    {
    <tr>
        <td>@categorie.Libelle</td>
        <td>@categorie.Actif</td>
        <td><div>@Html.ActionLink("Modifier", "Edit", "Categorie", new { id = @categorie.Id }, null)</div></td>
    </tr>
    }
</table>   

<div>@Html.ActionLink("Ajouter", "Ajout", "Categorie")</div> 